# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets and training artifacts
data/
arrowfiles/
embeddings/
embeddings_multilingual/
results/

# Reports and documentation
*.pdf
*.docx

# Other Streamlit app versions
app.py
app2.py

# Unnecessary model files
models/*.pkl
models/*.png
models/*.csv